.simple-rating {
   position: relative;
   font-size: 42px;
   display: inline-block;
   &::before {
      content: "*****";
      display: block;
   }
   &__items {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
   }
   &__item {
      position: absolute;
      width: 0%;
      height: 0%;
      opacity: 0%;
      visibility: hidden;
      top: 0;
      left: 0;
   }
   &__lable {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      color: #f0dbbb;
   }
   &__lable::before {
      content: "*";
      display: block;
      transition: color 0.3s ease 0s;
   }
   &__item:checked,
   &__item:checked ~ &__lable {
      color: #ffb040;
   }
   &__lable:hover,
   &__lable:hover ~ &__lable,
   &__lable:checked ~ &__lable:hover {
      color: #ffef9f;
   }

 }
